<header>
    <nav>
        <a href="/">Signifique</a>
        <ul>
            <li><a href="/axioma">Axiomas</a></li>
            <li><a href="/axioma/novo">Adicionar Axioma</a></li>
        </ul>
    </nav>
</header>